@use 'partial';


/*3.general*/
*{
    margin: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: partial.$tertiery-color;
}
grid-container{
    display: grid;
    grid-template-areas: 
    'header header'
    'aside main'
    'footer footer';
    grid-template-rows: auto auto 10vw;
    grid-template-columns: 20vw 80vw;
    grid-row-gap: 0.5vw;
    overflow-y: auto;
    overflow-x: hidden;
}
h1, h2, h3, p{
    font-family: partial.$primary-font;
}
h1{
    height: auto;
    width: auto;
    font-size: 4vw;
    color: partial.$primary-color;
    padding: 1vw 3vw;
    background-color: partial.$secondary-color;
    position: absolute;
    left: 10vw;
    top: 7vw;  
}
h2, h3{
    font-size: 3vw;
}
p{
    font-size: 2vw;
    line-height: 3vw;
    text-align: justify;
}
li{
    list-style-type: none;
}
/*general classes*/
.white_font{
    color: partial.$primary-color;
}

/*header*/
header{
    grid-area: header;
    max-width: 100vw;
    min-height: 35vw;
    background-image: url(../img/img_header_banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
nav{
    width: 100vw;
    min-height: 13%;
    background-color: partial.$secondary-color;
    display: flex;
    align-items: center;
    justify-content: right;
    z-index: 1;
    a{
        font-family: partial.$primary-font;
        font-size: 2vw;
        font-weight: 500;
        color: partial.$primary-color;
        text-decoration: none;
        margin: 0 1vw;
    }
    a:hover{
        color: partial.$tertiery-color;
    }
    a:nth-last-of-type(1){
        margin: 0 3vw 0 1vw;
    }
    p{
        display: inline;
        color: partial.$primary-color;
        font-size: 3vw;
    }
}
.mobile-nav{
    display: none;
    .bars{
    display: none;
    cursor: pointer;
    font-size: 7vw;
    }
}
.toggleShow{
    height: 74%;
    display: flex !important; 
    flex-direction: column;
    align-items: flex-start;
    a{
        font-size: 3vw;
        line-height: 4.1vw;
        display: inline;       
        margin: 0 0 0 3vw !important;
    }
    p{
        display: none;
    }
}
.active{
    color: partial.$tertiery-color;
    text-transform: uppercase;
}

/*aside*/
aside {
    grid-area: aside;
    background-color: partial.$secondary-color;
}

/*main*/
main {
    grid-area: main;
    background-color: partial.$primary-color;
}
section{
    padding: 5vw 0;
    h2, h3, p{
        padding: 2vw 8vw;
    }
    *:first-child{
        padding-top: 0 !important;
    }
    *:last-child{
        padding-bottom: 0 !important;
    }   wannasee90
.sec-col-1{
    @include partial.flex();
    flex-direction: column;
}

/*footer*/
footer {
    grid-area: footer;
    background-color: partial.$secondary-color;
}

/*mobil*/
@media only screen and (max-width: 600px){
    header{
        flex-direction: column;
        .desktop-nav{
            display: none;
        }
        .mobile-nav{
            height: 25%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .bars{
                display: block;
                margin: 0 0 0 3vw;
            }
            .bars:hover{
                color: partial.$tertiery-color;
            }
        }
    }
}
    